html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  text-align:center;
  background-color: black;
  font-size: 250%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header
{
 height: px;
}

 #s1
{
    background-color: black;
  color: white;
  border: 4px solid white;
  margin: 20px 0px;
}

#s2
{
background-color: black;
    color: white;
  border: 4px solid white;
  padding: 5%;
margin: 10px 0px;
}

#s3
{
  Background-color: black;
  color: white;
  border: 4px solid white;
  position: relative;
margin: 10px 0px;
}

#s3::after {
  content: "";
  display: table;
  clear: both;
}

#s2::after {
  content: "";
  display: table;
  clear: both;
}

footer
{
  height: 10rem;
background-color: black;
  border: 4px solid white;
  position: relative;
    background: url("https://static.vecteezy.com/ti/vetor-gratis/p1/6657484-xadrez-celulas-fundo-quadrados-pretos-com-textura-branca-superficie-geometrica-repetir-mosaico-monocromatico-com-repeticao-classica-e-ilusao-optica-vetor.jpg");

}

.menu{
    display: flex;
    justify-content: center ;
    flex-direction: row;
    list-style: none; 
    color:black;
   
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1px 1px;
 background-color: black;
  border: 4px solid white;
  position: relative;
}

.menu-principal
{
  border: 4px solid black;
  background-color: white;
}

.menu-principal a
{
  color: black;
}



footer div{
  margin-top: 50px;
  width: 70%;
  position: relative;
  justify-self: center;
  
}

    

li{
    padding: 100px 20px 5px 50px;
}
a{ 
    text-decoration: none;
    color: rgb(255,255,255);
}

html
{
 font-family: "Jacquard 24", system-ui;
}

main {
  border: 1px solid #131313;
}

@keyframes girar {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

.logo-area {
    display: flex;
    align-items: center;
    gap: 1px;
}


.logo img {
    width: 17rem;
    height: auto; 
    display: block;
}


.imagem-giratoria-icone {
    width: 5rem;
    height: 5rem;
    animation: girar 4s infinite linear;
}


.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none; 
    color: black;
    border: 4px solid white; 
}

li {

    padding: 10px 20px; 
}

html, body {
    overflow-x: hidden;
  width: 100%;}

  nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: black;
    border: 4px solid white;
    box-sizing: border-box;
}

.menu a {
    line-height: 0; 
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  text
}

.menu li {
    margin-right: 15px;
}

.instagram, .youtube, .tiktok, .pinterest {
    
    width: 4rem; 
    height: 4rem;
    object-fit: contain; 
    display: block; 
}


.menu-principal li
{
  display: inline;
  margin: 0 20px;
}



.instagram:hover
{
  content:url("instawhite.png");
  transition: 0.5s;
}
.youtube:hover
{
  content:url("https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/black-and-white-youtube-icon.png");
  transition: 0.5s;
}
.tiktok:hover
{
  content:url("titok2.png");
  transition: 0.5s;
}
.pinterest:hover
{
  content:url("pinterestwhite.png");
  transition: 0.5s;
}




