html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  text-align:center;
  background-color: black;
  font-size: 250%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header
{
 height: px;
}

 #s1
{
    background-color: black;
  color: white;
  border: 4px solid white;
  margin: 20px 0px;
}

#s2
{
background-color: black;
    color: white;
  border: 4px solid white;
  padding: 5%;
margin: 10px 0px;
}

#s3
{
  Background-color: black;
  color: white;
  border: 4px solid white;
  position: relative;
margin: 10px 0px;
}

#s3::after {
  content: "";
  display: table;
  clear: both;
}

#s2::after {
  content: "";
  display: table;
  clear: both;
}

footer
{
  height: 100px;
background-color: black;
  border: 4px solid white;
  position: relative;

}

.menu{
    display: flex;
    justify-content: center ;
    flex-direction: row;
    list-style: none; 
    color:black;
   
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1px 1px;
 background-color: black;
  border: 4px solid white;
  position: relative;
}

footer div{
  margin-top: 50px;
  border: 1px solid white;
  width: 70%;
  position: relative;
  justify-self: center;
  
}

    

li{
    padding: 100px 20px 5px 50px;
}
a{ 
    text-decoration: none;
    color: rgb(255,255,255);
}

body, nav, #s
{
   font-family: "Jacquard 24", sans-serif;
}

main {
  border: 1px solid #131313;
}

@keyframes girar {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        .imagem-giratoria {
            width: 100px;
            height: 100px;
            animation: girar 4s infinite linear
        }





.logo-area {
    display: flex;
    align-items: center;
    gap: 1px;
}


.logo img {
    width: 300px;
    height: auto; 
    display: block;
}


.imagem-giratoria-icone {
    width: 80px;
    height: 80px;
    animation: girar 4s infinite linear;
}


.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none; 
    color: black;
    border: 4px solid white; 
}

li {

    padding: 10px 20px; 
}

html, body {
    overflow-x: hidden;
  width: 100%;}

  nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: black;
    border: 4px solid white;
    box-sizing: border-box;
}

.menu a {
    line-height: 0; 
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; 
}

.menu li {
    margin-right: 15px;
}

.icon-social {
    
    width: 60px; 
    height: 60px;
    object-fit: contain; 
    display: block; 
}

.tsoi {
  margin-right: 20px;
  float: left;
  margin-top: 20px;
}

.ghost {
  float: left;

}






